* {
  margin: 0;
  padding: 0;
}

/* ////////////// */

/* ////////////// */
body {
  font-family: "Roboto", sans-serif;
  /* background: linear-gradient(to top left, #8f64ee, #c85ffa); */
  background-image: url(./images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  background-color: #282f39;
  flex-direction: row;
  align-items: center;
  transition: 0.5s;
  align-items: center;
}

.container {
  background-color: hsla(0, 0%, 100%, 0.853);
  width: 700px !important;
  margin: 0 auto;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow: auto;
  padding: 20px;
  box-shadow: 0 0 10px 0 white;
  border-radius: 25px;
  position: absolute;
  left: 25%;
  right: 25%;
  transition: 0.5s;
}
.hidden__container--1 {
  transform: translateX(40%);
  opacity: 0;
}
.hidden__container--2 {
  transform: translateX(-40%);
  opacity: 0;
}
.container--active {
  z-index: 1;
  opacity: 1;
  transform: none;
}
.title {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0px;
  font-weight: 700;
}
.date {
  font-size: 24px;
}
.add_new_task {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.input {
  padding: 10px 15px;
  width: 70%;
  font-size: 24px;
  outline: none;
  border: 0.5px solid grey;
  border: none;
  border-bottom: 1px solid grey;
}
.btn {
  background-color: none;
  background: linear-gradient(to top left, #8f64ee, #c85ffa);
  padding: 7.5px 20px;
  font-size: 18px;
  height: 50px;
  width: 110px;
  color: white;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(to top left, #7c55ce, #af52da);
}
.btn:active {
  background: linear-gradient(to top left, #53398b, #7c3a9a);
}
.tasks {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid grey;
  padding: 5px;
}
.btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btns button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: none;
  background: linear-gradient(to top left, #8f64ee, #c85ffa);
  color: white;
  font-size: 5px;
}
.btns button p {
  font-size: 10px;
}
.btns button:hover {
  background: linear-gradient(to top left, #7c55ce, #af52da);
}
.btns button:active {
  background: linear-gradient(to top left, #53398b, #7c3a9a);
}

.task__finished {
  text-decoration: line-through;
}

.login {
  margin: 0 auto;
  z-index: 0;
}
.submit {
  cursor: pointer;
}
/* ///////////////////////// */

.form {
  width: 20rem;
  height: 15rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  box-shadow: 0 0 10px 0 white;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.853);
}
.title-login {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
}
.input-container {
  flex-direction: row;
  gap: 10px;
  position: relative;
}
.input-container input {
  padding: 10px 10px;
  width: 299px;
  outline: none;
  border: none;
  border-bottom: 0.4px solid grey;
}
.icon {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
}
.login--btn {
  width: 100%;
  padding: 7px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: none;
  background: linear-gradient(to top left, #8f64ee, #c85ffa);
  color: white;
}
.login--btn:hover {
  background: linear-gradient(to top left, #825ad6, #b454e0);
}
.login--btn:active {
  background: linear-gradient(to top left, #6f4db8, #9d49c4);
}
.form p {
  text-align: center;
}
.btn--finished {
  background: linear-gradient(to top left, #8f64ee, #c85ffa);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0;
  border: none;
  cursor: pointer;
}
.no--task {
  margin: 0 auto;
}
.container--hidden {
  display: none;
}
@media (max-width: 2560px) {
  .form {
    transform: scale(1.5);
  }
  .container {
    transform: scale(1.5);
  }
}

@media (max-width: 1441px) {
  .form {
    transform: scale(1);
  }
  .container {
    transform: scale(1);
  }
}

@media (max-width: 1025px) {
  .form {
    transform: scale(1);
  }
  .container {
    transform: scale(1);
    left: 0;
    right: 0;
  }
}

@media (max-width: 769px) {
  .form {
    transform: scale(1);
  }
  .container {
    transform: scale(0.8);
    left: 0;
    right: 0;
  }
}

@media (max-width: 426px) {
  .form {
    transform: scale(1);
  }
  .container {
    width: 300px !important;
    transform: scale(1);
    left: 0px;
    float: left;
    gap: 20px;
  }
  .input {
    padding: 5px 10px;
    font-size: 10px;
    outline: none;
    border: 0.5px solid grey;
    border: none;
    border-bottom: 1px solid grey;
  }
  .btn {
    padding: 4px 10px;
    font-size: 10px;
    height: 20px;
    width: 40px;
  }
  .btns {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .btns button {
    padding: 5px 10px;
    font-size: 1.5px;
  }
  .btns button p {
    font-size: 5px;
  }
  .title {
    font-size: 26px;
  }
  .date {
    font-size: 14px;
  }
}
/*  */